<div class="h-screen flex flex-col">
  <div class="flex flex-1">
    <.live_component module={Aside} id="aside" />
    <.live_component module={Main} id="main" />
  </div>
  <.live_component module={FooterPlay} id="footer" />
</div>
